body {  
  font-family: Arial, sans-serif;
  background-color: #000; /* Fondo negro */
  margin: 0;
  padding: 20px;
  color: #fff; /* Texto principal en blanco */
}

h1 {
  text-align: center;
  color: #ffcc00; /* Amarillo fuerte */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffcc00; /* Amarillo vibrante */
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6b800; /* Amarillo más oscuro */
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 10px;
  border: 1px solid #ffcc00;
  background-color: #111;
  color: #fff;
  border-radius: 5px;
}

#movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.movie-card {
  background-color: rgba(255, 204, 0, 0.1); /* Fondo amarillo transparente */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffcc00;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.6);
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.9);
}

.movie-card h2 {
  margin-top: 0;
  color: #ffcc00;
}

.movie-card p {
  margin: 5px 0;
  color: #e6e6e6;
}

.movie-card button {
  margin-right: 10px;
  background-color: #ffcc00;
  color: #000;
}
